:root{
    --dark:#19283f;
    --green:#33d1cc;
    --red:#ff3150;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", serif !important;
}

/* start navbar */
.navbar{
    background-color: var(--dark);
}

.navbar .navbar-nav .nav-link{
    color: #ffff;

}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
    color: var(--green);

}
.navbar .navbar-toggler{
    color: #ffff;
    font-size: 25px;
}
.navbar .search{
    color: var(--green);
    border-left: 1px solid var(--green);
}

.navbar .navbar-toggler:focus{
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"]{
    border: 2px solid var(--green);
}

/* end navbar */

/* start landing */
.landing{
    background-color: var(--dark);
    min-height: calc( 100vh - 72px );
}
/* end landing */